<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student.student_id %>
</p>

<p>
  <strong>Student name:</strong>
  <%= @student.student_name %>
</p>

<p>
  <strong>Student gender:</strong>
  <%= @student.student_gender %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
